.Table{
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    width: 50%;
    border: 0.5px solid black;
    border-collapse: collapse;
    text-align: center;
    
}
th,td{
    height: 40px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even)
 {
    background-color: #f2f2f2;
}

.adduser{
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
    
}
.adduser h2{
    
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(245, 37, 37);
    height: 40px;
    transition: 500ms ease-in-out;
    
}
.adduser h2:hover{
    width: 17%;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.count p{
    border: 2px solid red;
    height: 25px;
    width: 15%;
    text-align: center;
    border-radius: 25px;
    
    
}
.link{
    text-decoration: None;
    color: white;
    font-size: 1.2rem;
}
td button{
    border: none;
    height: 100%;
    margin-left: 10px;
    background: none;
}
td button:hover{
    cursor: pointer;
}